@font-face {
  font-family: "ONE-Mobile-POP";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: lightgoldenrodyellow;
  font-family: "ONE-Mobile-POP";
}

ul {
  padding-inline-start: 0;
}
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.title {
  margin: 30px;
  color: rgb(69, 69, 69);
  font-size: 30px;
}

.container {
  display: flex;
  gap: 1px;
  position: relative;
}

.start,
.end {
  width: 7.5rem;
  height: 7.5rem;
  font-size: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/Rectangle\ 1-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.start {
  margin-top: auto;
  margin-bottom: 2px;
}

#bunny {
  position: absolute;
  z-index: 10;
  width: 5.625rem;
  height: 7.0625rem;
}

#carrot {
  width: 5.625rem;
  height: 5.625rem;
}

.end {
  margin-bottom: auto;
}

.boxes {
  width: 38.125rem;
  height: 38.125rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.swiper {
  width: 7.5rem;
  height: 7.5rem;
}

.completeBtn {
  width: 300px;
  height: 40px;
  color: #823b3b;
  background-color: pink;
  border: 3px solid #f28e8e;
  font-size: 20px;
  font-weight: 900;
  margin: 30px;
  border-radius: 2px;
}

.completeBtn:hover {
  color: rgb(69, 69, 69);
  border: 3px solid rgb(69, 69, 69);
}

.completeBtn:disabled {
  cursor: not-allowed;
}

.modal-wrapper {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.modal {
  /* display: none; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 500px;
  height: 300px;
  background-color: white;
  text-align: center;
}

.modalText {
  font-size: 20px;
  margin: 10px;
  font-weight: 600;
}

.modalBtn {
  width: 100px;
  margin: 10px;
  font-weight: 500;
  font-size: 16px;
}

.modalBtn:hover {
  font-weight: 600;
  border-bottom: 1px solid black;
}

.modalImg {
  margin: auto;
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 1000px) {
  * {
    font-size: 14px;
  }
}
@media screen and (max-width: 800px) {
  * {
    font-size: 8px;
  }
  .title {
    font-size: 20px;
  }
  .modalText {
    font-size: 20px;
  }
  .completeBtn {
    width: 150px;
  }
}
