* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  width: 620px;
  height: 620px;
  border: 5px solid black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.box {
  border: 1px solid pink;
}

.swiper {
  width: 120px;
  height: 120px;
}

/* .swiper-button-next,
.swiper-button-prev {
  color: transparent;
  font-size: 1px;
  --swiper-navigation-size: 20px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: rgb(255, 162, 178);
} */
